# Jupyter Markdown

## Jupyter Markdown

### Jupyter Markdown

#### Jupyter Markdown

- point 1
  - **sub point 1.1**
  - ***sub point 1.2***
  - *sub point 1.3*
- point 2
- point 3

### Python introduction
 - python 3
 - python can be used as functional programming
 - python can be used as scriptting programing
 - python intially designed by **Guido Van Rossum** in 1991

In [3]:
# Input and Output Function
# Output Function 
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

print("Markdown cell",end = ' ')
print("code cell")

In [5]:
# input Function
print("enter your name : ")
a = input(' ')
print('your name is ',a)

enter your name :
 bindu
your name is  bindu

### inserting an image using markdown
![image]()

## inserting a site using markdown
[site](https://www.google.com/search?q=peace+images+hd&oq=peace+imag&aqs=chrome.2.0j69i57j0l6.15777j0j7&sourceid=chrome&ie=UTF-8)

# Fundamental data types

## 1.int
## 2.float
## 3.complex
## 4.string
## 5.boolean

In [6]:
#basic ex:
x= 10
print(type(x))
print(x)

<class 'int'>
10

In [7]:
a = complex(5,4)
print(a)

(5+4j)

In [8]:
x= 3+5j
y=10.25
z=10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [9]:
x= 3+5j
y= 10.25
z= 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [10]:
c1= 5+6j #complex
c2=4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [13]:
a= 10 #boolean
b = 6
a > b

True

In [14]:
#strings
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [15]:
s1 = "100"
print(type(s1))

<class 'str'>

# datatype conversions

In [17]:
i = 100
print(type(i))
s1 = str(i) #str() convert the string into string type
print(type(s1))
f1 = float(i) #float() convert the string into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [18]:
s1 = "200"
print(type(s1))
b = int(s1)
print(type(b))
f=2.5
a=int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [19]:
# A number is given 23456
# Digit count
s = 23456
print(len(str(s)))

5

# operators
## 1. arthemetic operators--------->+,-,*, / ,//,%,**
## 2. logical operators------------>and ,or , not
## 3. relational operators---------> <,>,<=,>=,==,!=
## 4. membership operators---------> in, not in

In [20]:
#Arthemetic operators
a =15
b =10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

25
5
150
1.5
1
5
576650390625

In [21]:
# relational operators
x = 20
y = 15
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [22]:
# logical operators
print(x>=10 and x<=20)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [26]:
# membership operators
str1 ="abc"
print('a' in str1)
print('b' not in str1)

True
False

# conditional statement:
 - 1.if
 - 2.else
 - 3.elif 
  ## syntax
   - elif condition:
  ## statements
   - else:
  ## statement
   - if condition:
  ## statement

In [29]:
# to check given  number is even or odd
n = int(input("enter the number:"))
if n%2==0:
    print("even")
else:
    print("odd")

enter the number:5
odd

In [31]:
# to check the given number is perfectly multiple of 3 and 5
n=int(input("enter the number:"))
if n%3==0 and n%5==0:
 print("yes")
else:
    print("no")

enter the number:9
no

In [1]:
# to check the given number is positive or negative or zero
n=int(input("enter the number:"))
if n>0:
    print("positive")
if n<0:
    print("negative")
if n==0:
    print("zero")

enter the number:5
positive

In [3]:
# check the given year is leap year or not
year=int(input("enter the number:"))
if year%4==0:
    print("leap year")
else:
        print("not a leap year")

enter the number:2020
leap year

In [4]:
# is a person is eligible for vote or not
age=int(input("eneter the number:"))
if age<18:
    print("no")
else:
    print("yes")

eneter the number:20
yes